/* styles/Home.module.css */
.container {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(rgba(30, 30, 30, 0.8), rgba(30, 30, 30, 0.8)),
    url("../images/bg-hero.png"); /* replace with your background image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  padding: 0 6rem;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.heroContent {
  width: 100%;
}

.heroTitle {
  margin-top: 8rem;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 4rem;
  line-height: 1.2;
  color: #2196f3;
  margin-bottom: 1rem;
  text-align: start;
  max-width: 900px;
}

.hero p {
  margin-top: 3rem;
  text-align: start;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  max-width: 700px;
  color: #ffffff;
}

.heroButton {
  display: flex;
  align-items: center;
  padding: 0.75rem 1.5rem;
  border: none;
  text-decoration: none;
  float: right;
  background: #8fd14f;
  border-radius: 40px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
  margin: 1rem 0rem;
}

.heroButton:hover {
  background-color: #45a049;
}

/* styles/NavBar.module.css */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6rem;
  background-color: transparent;
  z-index: 10;
}

.logo {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  gap: 1.5rem;
  transition: all 0.3s ease;
}

.navLink {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 75%;
  color: #d9d9d9;
}

.navLink:hover {
  text-decoration: underline;
}

.menuIcon {
  display: none;
  cursor: pointer;
}

/* about css */
.about {
  padding: 4rem 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aboutTitle {
  margin: 0rem 0rem 4rem 0rem;
  /* Über uns */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
  /* identical to box height */

  color: #7cc139;
}
.aboutDescription {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 160%;
  /* or 22px */
  text-align: center;

  color: #464646;

  /* Rectangle 4 */

  background: #f5f5f5;
  border-radius: 60px;
  padding: 0.5rem;
}

/* Home.module.css */

.sliderContainer {
  position: relative;
  width: 100%;
  margin: 2rem 0;
  overflow: hidden;
  padding: 3rem 4rem;
  background-color: #f5f5f5;
}

.sliderWrapper {
  overflow: hidden;
  width: 100%;
}

.slider {
  display: flex;
  transition: transform 0.5s ease;
}

.card {
  flex: 0 0 calc((100% / 3) - 2rem); /* Adjusted to show exactly 3 cards */
  margin: 0 1rem;
  background-color: #f5f5f5;

  border-radius: 10px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  overflow: hidden;
  transition: transform 0.3s ease;
  position: relative;
}

.cardImage {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease;
  position: relative;
  border-radius: 41px !important;
}

.overlay {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  bottom: 0;
  padding: 1rem;
  box-sizing: border-box;
}

.blueOverlayLine {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) -10.26%,
    #2196f3 87.25%
  );
  border-radius: 41px;
}

.greenOverlayLine {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) -11.58%,
    #7cc139 84.85%
  );
  border-radius: 41px;
}

.cardTitle {
  font-size: 1.5rem;
  color: #ffffff;
  margin: 0;
  text-align: center;
}

.cardDescriptionContainer {
  padding: 1rem;
}

.cardDescription {
  font-size: 1rem;
  margin: 1rem 0 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 137%;
  text-align: center;
  color: #464646;
}

.card:hover .cardImage {
  transform: scale(1.2);
}

.navButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  z-index: 1;
}

.navButton:hover {
  background: rgba(0, 0, 0, 0.7);
}

.navButton:disabled {
  background: rgba(0, 0, 0, 0.2);
  cursor: default;
}

.navButton:first-of-type {
  left: 0;
}

.navButton:last-of-type {
  right: 0;
}
/* styles/WhyUs.module.scss */
.whyUsSection {
  padding: 2rem 4rem;
  text-align: center;
}

.whyUsSection h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
  /* identical to box height */

  color: #7cc139;

  margin-bottom: 2rem;
}

.reasons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
}

.reason {
  display: flex;
  flex-direction: row;
  flex: 1 1 50%;
  max-width: 50%;
  padding: 1rem;
  text-align: left;
  align-items: center;
}

.whyImgSection {
  margin-right: 1rem;
  height: 142px;
  width: 142px;
  border-radius: 50%;
  background: rgba(18, 205, 212, 0.08);
  display: flex;
  align-items: center;
  justify-content: center;
}
.whyImgSection:hover {
  opacity: 0.7;
  cursor: pointer;
}

.reason h3 {
  color: #333;
  margin: 1rem 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 137%;
}
.whyTextSection {
  width: 70%;
}
.reason p {
  color: #666;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 137%;
}

/* styles/Testimonials.module.css */
.testimonialsSection {
  background-image: url("../images/bg-testimonials.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}

.testimonialsSection h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
  /* identical to box height */

  color: #7cc139;

  margin-bottom: 2rem;
}

.sliderTestimonial {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonial {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 100%;
  width: 100%;
  opacity: 0;
  transition: left 0.5s ease-in-out, opacity 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonial.active {
  left: 0;
  opacity: 1;
}

.testimonial.inactive-left {
  left: -100%;
  opacity: 0;
}

.testimonial.inactive-right {
  left: 100%;
  opacity: 0;
}

.rating {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.star {
  font-size: 3rem;
  color: #ccc;
}

.star.filled {
  color: #ebc440;
}

.ratingValue {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 137%;
  /* identical to box height, or 44px */

  color: #464646;

  margin-left: 0.5rem;

  margin-bottom: 1rem;
}

.testimonialsText {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 172%;
  /* or 55px */
  text-align: center;

  color: #464646;

  max-width: 600px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s;
  cursor: pointer;
}

.dot.activeDot {
  background-color: #7cc139;
}

/* styles/FAQ.module.css */
.faq,
.contactUs,
.appointment {
  padding: 0rem 4rem;
  user-select: none;
}
.contactUs {
  background-color: #f5f5f5;
}
.faqSection,
.contactUsSection,
.appointmentSection {
  padding: 2rem 0;
  text-align: center;
}

.faqSection h2,
.contactUsSection h2,
.appointmentSection h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
  /* identical to box height */

  color: #7cc139;

  margin-bottom: 2rem;
}

.faqItem {
  margin-bottom: 1rem;
}

.faqQuestion {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 137%;
  /* or 55px */

  color: #464646;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;

  width: 100%;
  background: #f9f9f9;
  border: none;
  padding: 1rem;
  text-align: left;
  cursor: pointer;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  border-radius: 5px;
}

.faqQuestion:hover {
  /* opacity: 0.8; */
}

.faqAnswer {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 157%;
  /* or 57px */

  color: #464646;

  text-align: left;
  padding-left: 1rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  background: #e7f8f8;
  border-radius: 0px 0px 5px 5px;
  padding: 0 1rem;
}
.faqAnswerColor {
  background: #e7f8f8;
  border-radius: 5px 5px 0px 0px !important;
}
.faqAnswer.active {
  max-height: 200px; /* Adjust this value based on your content height */
  padding: 1rem 5.5rem;
}

.iconFac {
  margin-right: 0.5rem;
}
.contactUsInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.contactUsInfoImage,
.contactUsInfoData {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
}
.contactUsInfoImage {
  display: flex;
  align-items: center;
}
.contactUsInfoDataLocation {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1.5rem;
  cursor: pointer;
}
.contactUsBgIcon {
  border-radius: 50%;
  background: rgba(18, 205, 212, 0.08);
  padding: 0.7rem;
  height: 74px;
  width: 74px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}
.locationContent {
  font-family: "Roboto";
  font-style: normal;
  width: 70%;
  font-weight: 600;
  font-size: 32px;
  text-align: left;
  line-height: 137%;
  /* identical to box height, or 44px */

  color: #464646;
}

.appointmentContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.formContainer {
  flex: 1;
  max-width: 70%;
  /* margin: 0 4rem; */
}
.inactive {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  /* identical to box height */

  color: #b5b3b3;
}
.appointmentForm {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 1.5rem;
}

.formGroup label {
  display: block;
  margin-bottom: 0.5rem;
  text-align: left;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;

  color: #475569;
}
.required {
  color: #ea4335;
}
.formGroup input,
.formGroup select,
.formGroup textarea {
  width: 100%;
  padding: 0.8rem;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  /* identical to box height */

  color: #000000;

  border: 2px solid #e2e8f0;
  border-radius: 16px;
}

.formGroup input:focus,
.formGroup select:focus,
.formGroup textarea:focus {
  border-color: #2196f3;
  outline: none;
}

.submitButton {
  background: #7cc139;
  border-radius: 24px;

  padding: 1rem 2rem;
  margin: 0 6rem;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  /* identical to box height */

  color: #ffffff;

  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submitButton:hover {
  background-color: #76b842;
}

.imageContainer {
  flex: 1;
  max-width: 500px;
}

.imageContainer img {
  width: 100%;
  border-radius: 5px;
}

/* styles/Footer.module.css */

.footer {
  /* background-color: #333; */
  background-image: url("../images/footer-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #d9d9d9;
  padding: 2rem 4rem;
  text-align: center;
}

.footerTop {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.footerColumn {
  flex: 1;
  min-width: 200px;
  margin: 1rem;
}

.navLinks {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navLinks li {
  margin-bottom: 1rem;
  text-align: left;
}

.navLinks a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 75%;
  /* or 27px */

  color: #d9d9d9;
  text-align: left;
  text-decoration: none;
  transition: color 0.3s;
}

.navLinks a:hover {
  color: #76b842;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contactItem {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.contactItem p {
  margin-left: 0.5rem;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 137%;
  /* identical to box height, or 44px */

  color: #ffffff;
}
.bgColorFooter {
  background: rgba(18, 205, 212, 0.08);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}

.footerLine {
  width: 80%;
  margin: 0 auto 2rem;
  border: 0;
  border-top: 1px solid #444;
}

.footerBottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.bottomColumn {
  flex: 1;
  min-width: 200px;
  margin: 1rem;
  text-align: left;
}

.bottomColumn a,
.bottomColumn p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 75%;
  /* or 27px */

  color: #d9d9d9;

  display: block;
  text-decoration: none;
  margin-bottom: 1.5rem;
  transition: color 0.3s;
}

.bottomColumn a:hover {
  color: #76b842;
}

.copyright {
  padding: 2rem 4rem;

  background: #2196f3;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #ffffff;
}

@media (max-width: 768px) {
  .formGroup input,
  .formGroup select,
  .formGroup textarea {
    font-size: 22px;
  }
  .inactive {
    font-size: 24px;
  }
  .faqSection h2,
  .contactUsSection h2,
  .appointmentSection h2,
  .whyUsSection h2 ,
  .testimonialsSection h2 {
    font-size: 44px;
  }
  .copyright,
  .bottomColumn a,
  .bottomColumn p,
  .contactItem p,
  .navLinks a,
  .locationContent {
    font-size: 26px;
  }
  .formGroup label {
    font-size: 14px;
  }
  .contactItem p {
    width: 70%;
    text-align: left;
  }
  .submitButton {
    margin: 0 0;
    font-size: 22px;
  }
  .formContainer {
    max-width: 100%;
  }
  .contactUsInfo {
    flex-direction: column;
  }
  .faq,
  .contactUs,
  .appointment,
  .footer,
  .copyright {
    padding: 2rem 2rem;
  }
  .contactUsInfoData {
    margin-top: 2rem;
  }
  .faqQuestion {
    flex-direction: column-reverse;
    font-size: 30px;
  }
  .faqAnswer {
    padding: 0rem 1rem !important;
    font-size: 26px;
  }
  .testimonial {
    flex: 1 1 100%;
    max-width: 100%;
    text-align: center;
  }
  .reason p,
  .reason h3 {
    font-size: 22px;
  }
  .reason {
    flex: 1 1 100%;
    max-width: 100%;
    text-align: center;
    flex-direction: column;
  }
  .sliderContainer {
    padding: 0;
  }

  .card {
    flex: 0 0 calc(100% - 2rem); /* Show only 1 card on mobile */
    margin: 0 1rem;
  }

  .navButton {
    padding: 0.5rem 0.5rem;
  }
  .heroTitle,
  .aboutTitle {
    font-size: 2.5rem;
  }

  .hero p,
  .aboutDescription,
  .cardDescription {
    font-size: 1.25rem;
  }
  .main,
  .whyUsSection {
    height: 100%;
    padding-bottom: 2rem;
    padding-inline: 2rem;
  }
  .heroButton {
    font-size: 16px;
    float: calc(100%);
  }
  .header,
  .about {
    padding: 1rem 2rem;
  }
  .about {
    padding: 1rem;
  }
  .logo {
    display: none;
  }
  .nav {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: rgba(30, 30, 30, 0.9);
    filter: blur(10px);
    flex-direction: column;
    align-items: center;
    max-height: 0;
    overflow: hidden;
  }

  .nav.open {
    max-height: 300px;
    filter: blur(0px);
  }

  .navLink {
    font-size: 1.5rem;
    margin: 1rem 0;
  }

  .menuIcon {
    display: block;
  }
}
